body {
    overflow: hidden;
}

.page-wrapper {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

header {
    text-align: center;
    margin: 1rem;
}

h1 {
    font-size: 2.5rem;
    margin: unset;
}

form {
    margin-bottom: .5em;
}

.current {
    margin-bottom: 2rem;
    width: 1200px;
}

#weatherInfo {
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#weatherInfoCurrent,
#mapSquare {
    height: 20rem;
    width: 10rem;
}

#map,
.weatherCard {
    border: 1px solid rgba(108, 106, 106, 0.15);
    border-radius: 1rem;
}

#map {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.weatherCard {
    height: 20rem;
    text-align: center;
    padding: 1.5rem;
    font-size: .5rem;
}

#weatherInfo h2 {
    margin: 10px;
    height: 0.5rem;
}

#temp {
    font-size: 1.75rem;
}


span {
    font-size: 1.2rem;
    font-weight: 200;
}